$color-gray-one: #555;
$color-gray-two: #777;
$color-gray-three: #ccc;
$color-brand: #5f80c4;
$color-brand-tint: #8197c5;
$color-brand-shade: #2e4f94;
$color-brand-secondary: #94352e;

$font-brand: 'Oswald', sans-serif;
$font-body: Arial, Helvetica, sans-serif;
