@import './reset';
@import './variables';

.app {
  width: 90%;
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
  font-family: $font-body;
  color: $color-gray-one;
}

h1,
h2,
h3,
h4 {
  color: $color-brand;
  font-family: $font-brand;
  font-weight: 600;
}

h1 {
  text-align: center;
}

a {
  color: $color-brand;
}
