@import './variables';

.results-page {
  text-align: center;

  &_summary {
    color: $color-brand-secondary;
  }

  ul {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;

    h4 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 10px;
    }
  }
}
